
<div class="creator-banner" style="background-image: url('<%= image_path 'Frame 4.png' %>')">
  <div>
    <h1><strong><%= @creator.pseudo %></strong></h1>
  </div>
 <%= cl_image_tag(@creator.photo.key, crop: :thumb, gravity: :face, class:"avatar-creator-page") %>
</div>

<div class="creator container mt-5 bg-white">
  <div class="row d-flex justify-content-between align-items">
    <div class="col-sm-6" style="height: 400px padding: 88px">
      <div class="embed-responsive embed-responsive-16by9" style="height: 400px">
        <iframe class="embed-responsive-item" src="<%= @creator.youtube_link %>" allowfullscreen></iframe>
      </div>
    </div>
    <div class=" whoami-box col-sm-5 border border-secondary position-relative text-center">
      <h2>Who am I ?</h2>
      <br>
      <p><%= @creator.bio %></p>
      <div class="data ml-50px border border-secondary">
        <div class="card-header">
          <h3 > Creator data</h3>
        </div>
        <ul class="list-group list-group-flush text-center mt-3">
          <li>Number of followers : <strong><%= @creator.number_suscribers.nil? ? " 0" : @creator.number_suscribers %></li></strong>
          <li>Number of projects done : <strong><%= @done_projects.count %></li></strong>
          <li>On going projects : <strong><%= @ongoing_projects.count %></li></strong>
          <li>Number of investors : <strong><%= @investors.count %></li></strong>
        </ul>
      </div>
    </div>
  </div>
  <div class="newproject container bg-white">
    <h3>My projects you can invest in</h3>
      <% @ongoing_projects.each do |project| %>
      <%= link_to project_path(project), class: 'text-decoration-none text-dark' do %>
        <div class="row mt-2 project-card">
          <%= cl_image_tag project.photo.key  %>
          <div> <%= project.title %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-footer">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: black;">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">www.followerfund.me</a>
  </div>
  <!-- Copyright -->
</footer>
