<ul class="navbar-universe list-inline tabs-underlined mb-0" >
  <li>
  <%= link_to users_path, class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:all] ? 'active' : '' %>">All</div>
    <% end %>
  </li>
  <li>
  <%= link_to users_path(params: { genre: 'Comedy' }), class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:comedy] ? 'active' : '' %>">Comedy</div>
    <% end %>
  </li>
  <li>
  <%= link_to users_path(params: { genre: 'Gaming' }), class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:gaming] ? 'active' : '' %>">Gaming</div>
    <% end %>
  </li>
  <li>
    <%= link_to users_path(params: { genre: 'Tech' }), class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:tech] ? 'active' : '' %>">Tech</div>
    <% end %>
  </li>
  <li>
    <%= link_to users_path(params: { genre: 'Tutorials' }), class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:tutorials] ? 'active' : '' %>">Tutorials</div>
    <% end %>
  </li>
  <li>
    <%= link_to users_path(params: { genre: 'Makeup' }), class: 'tabs-links' do %>
    <div class="tab-underlined <% params[:makeup] ? 'active' : '' %>">Makeup</div>
    <% end %>
</ul>

<div class="banner d-flex" >
  <div>
  <h1 class="mx-auto"><strong>Be a YouTuber's favorite investor </strong></h1>
  </div>
  <%= image_tag "Saly-10", class:"banner-img" %>
</div>


<div class="container-info text-center">
  <p>Finance their videos, and share profits when they're successful! 🏆</p>
  <a class="btn btn-outline-light px-5 py-2 rounded-pill" href="/users">Invest</a>
</div>


<div class="container-homepage mx-auto w-80">
  <h1 id='anchor', class="text-center mt-4 mb-2">How it Works </h1>
  <div class="homepage-cards d-flex justify-content-around mb-6">
    <div class="homepage-card">
      <strong>Choose a creator</strong>
      <p>Search and choose creators from your favourite genre</p>
    </div>
    <div class="homepage-card">
      <strong> Invest in videos </strong>
      <p>Finance the videos that interest you, and decide how much you'd like to invest</p>
    </div>
    <div class="homepage-card">
      <strong>Reap the Rewards</strong>
      <p>Once the video is launched, keep track of whether the video is successful and how much money you make</p>
    </div>
  </div>
</div>
<div>



<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-footer">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

