<ul class="navbar-universe list-inline tabs-underlined mb-0">
  <li>
  <%= link_to "#" do %>
    <div class="tab-underlined <% params[:all] ? 'active' : '' %> ">All</div>
    <% end %>
  </li>
  <li>
  <%= link_to "#" do %>
    <div class="tab-underlined <% params[:comedy] ? 'active' : '' %>  ">Comedy</div>
    <% end %>
  </li>
  <li>
  <%= link_to "#" do %>
    <div class="tab-underlined <% params[:gaming] ? 'active' : '' %>  ">Gaming</div>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
    <div class="tab-underlined <% params[:tech] ? 'active' : '' %>  ">Tech</div>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
    <div class="tab-underlined <% params[:tutorials] ? 'active' : '' %>  ">Tutorials</div>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
    <div class="tab-underlined <% params[:wtf] ? 'active' : '' %>  ">WTF</div>
    <% end %>
</ul>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530712024539-ecd73dfb1c9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1><strong>Invest in your favorite creators</strong>!</h1>
    <p>Be part of the new creators funding movement</p>
    <a class="btn btn-outline-danger px-5 py-2 rounded-pill " href="#">Invest</a>
  </div>
</div>
<div>
  <h1 class="d-flex justify-content-center mt-5 mb-2"> <strong>What we do</strong></h1>
  <p class="d-flex justify-content-center mx-5"> On Follower Fund, you can let your fans become active participants in the work they love by offering them a monthly membership.</p>
  <p class="d-flex justify-content-center mx-5">You give them access to exclusive content, community, and insight into your creative process. In exchange, you get the freedom to do your best work.</p>
</div>
<div>
  <h1 class="d-flex justify-content-center mt-5 mb-2"><strong>Win together</strong></h1>
  <div class="row justify-content-center">
    <div class="image-win" style="background-image: url('https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
      <div class="card-win d-flex justify-content-center align-items-center">
        <p class="d-flex justify-content-center p-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>
<div>
  <h1 class="d-flex justify-content-center mt-5 mb-4"> <strong>How it works</strong></h1>
  <div class="cards">
    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Choose a universe
    </div>

    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605211419412-16e3f589e435?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80)">
      Discover creators
    </div>

    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
      Be part of the creator's succes
    </div>
  </div>
</div>
