<%= render 'shared/navbar_univers' %>

<div class="banner-home d-flex p-5" >
  <div class="container" style="background-color:transparent;">
  <h1 class="p-3"><strong>Be a YouTuber's favorite investor </strong></h1>
  <br>
  <p>Finance their videos, and share profits when they're successful! 🏆</p>
  <a class="btn btn-outline-light px-5 mt-4 py-2 rounded-pill" href="/users">Invest</a>
  </div>
  <%= image_tag "Homepage-transparent.png", class:"banner-img", style:"position:absolute; right:0; top: 0;" %>
</div>

<div class="container mb-1 mx-auto w-80 mt-4 bg-white">
  <h1 id='anchor' class="text-center mb-2 mt-3 text-center">How it <mark class = "purple"> Works</mark> </h1>
  <div class="homepage-cards d-flex justify-content-between align-items-start mb-4">
    <div class="homepage-card">

        <%= image_tag "iconchoose.png", class:"icon-home" %>
      <h3><strong>Choose a<mark class = "purple"> Creator</mark></strong></h3>
      <p class="text-center">Search and choose creators from your favourite genre</p>
    </div>
    <div class="homepage-card">
    <%= image_tag "icon2.png", class:"icon-home" %>
      <h3><strong> Invest in
      <mark class = "purple">Videos</mark> </strong></h3>
      <p class="text-center">Finance the videos that interest you, and decide how much you'd like to invest</p>
    </div>
    <div class="homepage-card text-center">
    <%= image_tag "icon6.png", class:"icon-home" %>
      <h3><strong>Reap the<mark class = "purple"> Rewards</mark></strong></h3>
      <p class="text-center">Once the video is launched, keep track of whether the video is successful and how much money you make</p>
    </div>
  </div>
</div>
<div>
</div>
