<span class="border border-primary">
  <ul class="navbar-universe list-inline tabs-underlined mb-0 ">
    <li>
    <%= link_to users_path do %>
      <div class="tab-underlined <% params[:all] ? 'active' : '' %> ">All</div>
      <% end %>
    </li>
    <li>
    <%= link_to users_path(params: { genre: 'Comedy' }) do %>
      <div class="tab-underlined <% params[:comedy] ? 'active' : '' %>  ">Comedy</div>
      <% end %>
    </li>
    <li>
    <%= link_to users_path(params: { genre: 'Gaming' }) do %>
      <div class="tab-underlined <% params[:gaming] ? 'active' : '' %>  ">Gaming</div>
      <% end %>
    </li>
    <li>
      <%= link_to users_path(params: { genre: 'Tech' }) do %>
      <div class="tab-underlined <% params[:tech] ? 'active' : '' %>  ">Tech</div>
      <% end %>
    </li>
    <li>
      <%= link_to users_path(params: { genre: 'Tutorials' }) do %>
      <div class="tab-underlined <% params[:tutorials] ? 'active' : '' %>  ">Tutorials</div>
      <% end %>
    </li>
    <li>
      <%= link_to users_path(params: { genre: 'Makeup' }) do %>
      <div class="tab-underlined <% params[:makeup] ? 'active' : '' %>  ">Makeup</div>
      <% end %>
</ul>
</span>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530712024539-ecd73dfb1c9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="mx-auto w-75">
    <h1><strong>Invest in your favorite creators</strong>!</h1>
    <p>Be part of the new creators funding movement</p>
    <a class="btn btn-outline-light px-5 py-2 rounded-pill " href="/users">Invest</a>
  </div>
</div>

<div class="container">

<div>
  <h1 class="d-flex justify-content-center mt-5 mb-2"> <strong>What we do</strong></h1>
  <p class="d-flex justify-content-center mx-5"> Follower Fund allows fans to invest directly in their favourite YouTubers' projects.</p>
  <p class="d-flex justify-content-center mx-5">In return, fans take direct equity in a video. If a YouTuber wins, you win! 🏆</p>
</div>
<div>
  <h1 class="d-flex justify-content-center mt-5 mb-2"><strong>Win together</strong></h1>
  <div class="row justify-content-center">
    <div class="image-win" style="background-image: url('https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
      <div class="card-win d-flex justify-content-center align-items-center">
        <p class="d-flex justify-content-center p-3"> At Follower Fund, we've always thought that fans and YouTubers get a bad deal. They love watching content, but a model dependent on advertising means that content will need to be 'advertiser friendly' (whatever that means). What about we create a new model, where YouTubers AND Fans get paid? Invest in YouTubers here, and when their videos make revenue, so do you! </p>
      </div>
    </div>
  </div>
</div>
<div>
  <h1 id="anchor" class="d-flex justify-content-center mt-5 mb-4"> <strong>How it works</strong></h1>
  <div class="cards">
    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Choose a universe
    </div>

    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605211419412-16e3f589e435?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80)">
      Discover creators
    </div>

    <div class="card-home mx-3 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
      Be part of the creator's succes
    </div>
  </div>
</div>
</div>
