<div class="headerprojectsshow">
  <h2>Project title </h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="cardprojectsshow">
      <div class="fakeimg" style="height:250px;">Project video</div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="container">
      <div class="cardprojectsshow">
          <p><strong><%= @project.investments.first.price %></strong> Out of <strong><%= @project.goal_amount %></strong></p>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
          <div class="row">
            <div class="col">
              <p><strong> X</strong> packers.</p>
            </div>
            <div class="col">
              <p><strong> X</strong>  days remaining</p>
            </div>
          </div>
          <p>Total revenue split: <strong><%= @project.revenue_split %> % </strong> for my investors.</p>
          <div class="slidecontainer">
          <input id="ex6" type="range" data-min="-5" data-max="20" data-step="1" data-value="3"/&t
            <span id="ex6CurrentRangePickerValLabel">Your Invest: <span id="ex6RangePickerVal">3</span></span>
          </div>
            <button class="btnshow addcartbutton">Add to cart</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="cardprojectsshow">
      <h2>Project slogan</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="cardprojectsshowsharecalculator">
      <h2 class="under">Revenue share calculator</h2>
        <div class="row">
          <div class="col">
            <p><strong>Your investment</strong></p>
          </div>
          <div class="col">
            <p><strong>Profit at 1 millions</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>5 balles</p>
          </div>
          <div class="col">
            <p>$100</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>10 balles</p>
          </div>
          <div class="col">
            <p>$200</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>15 balles</p>
          </div>
          <div class="col">
            <p>$400</p>
          </div>
        </div>
      </div>
  </div>
</div>


<%= @project.investments.first.price %>
<%= @project.revenue_split %>
<%= @project.revenue_generated %>


