<h1>This is my project, give me your money bitch</h1>


<%= @project.name %>
<%= @creator.name %>
<%= @project.deadline %>
<%= @project.bio %>
<%= @project.revenue_split %>
<%= @project. %>
<h3>add to cart</h3>
<h4>Revenue share calculator</h4>
  <p class="budget">What is your invest?</p>
  <label for="range">
        <input type="range" name="range" id="range" min="0" max="300" step="5" value="175"/>
  </label>
  <output for="range" class="output"></output>
