<div class="headerprojectsshow">
  <h2> <%= @project.title %></h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="cardprojectsshow">
      <div class="fakeimg" style="height:250px;">Project video</div>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="container">
      <div class="cardprojectsshow">
          <p><strong><%= @project.total_investments %></strong> Out of <strong><%= @project.goal_amount %></strong></p>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
          <div class="row">
            <div class="col">
              <p><strong>  <%= @project.investments.count %> </strong> backers.</p>
            </div>
            <div class="col">
              <p><strong> <%=@project.deadline  %> </strong></p>
            </div>
          </div>
          <p>Total revenue split: <strong><%= @project.revenue_split %> % </strong> for my investors.</p>
          <div class="slidecontainer">
            <%= simple_form_for [@project, Investment.new] do |f| %>
            <%= f.input :price_cents, as: :range, placeholder: "Amount" %>
            <%= f.submit "add to cart", class: "btn2 btn-dark" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="cardprojectsshow">
      <h2>Project slogan</h2>
      <p> <%= @project.bio %></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="cardprojectsshowsharecalculator">
      <h2 class="under">Revenue share calculator</h2>
        <div class="row">
          <div class="col">
            <p><strong>Your investment</strong></p>
          </div>
          <div class="col">
            <p><strong>Profit at 1 millions</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>5 balles</p>
          </div>
          <div class="col">
            <p>$100</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>10 balles</p>
          </div>
          <div class="col">
            <p>$200</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>15 balles</p>
          </div>
          <div class="col">
            <p>$400</p>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="col-25">
  <div class="containercheckout">
    <h4>Cart
      <span class="price" style="color:black">
        <i class="fa fa-shopping-cart"></i>
      </span>
    </h4>
    <p><a href="#"> @project.title </a> <span class="price"><%= @project.investments.first.price %></span></p>
    <input type="submit" value="Continue to checkout" class="btn2 btn-dark">
    <input type="submit" value="Continue shopping" class="btn2 btn-dark">
  </div>
</div>


<%= @project.revenue_split %>
<%= @project.revenue_generated %>


